<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
	<head>
		<meta charset="UTF-8">
		<title> تاپ لرن </title>
		<meta name="googlebot" content="index,follow">
		<meta name="robots" content="noodp,noydir">
		<meta name="apple-mobile-web-app-capable" content="yes" >
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
        <link rel="stylesheet" type="text/css" href="css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="js/jquery.min.js"></script>
	</head>
	<body>
    	<script src="js/modernizr-custom.js"></script>

        <div class="landing-layer">
            <div class="container">
                <nav>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <ul>
                                <li><a href=""> تاپ لرن </a></li>
                                <li><a href=""> همکاری در فروش </a></li>
                                <li><a href=""> درباره ما </a> </li>
                                <li><a href=""> تماس با ما </a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="clientarea">
                                <div class="loggein ">
                                     <i class="zmdi zmdi-account"></i><a href=""> ایمان مدائنی ، خوش آمدی </a>
                                </div>
                                <div class="signin hidden">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href=""> ورود </a> /
                                    <a href=""> عضویت </a>
                                </div>
                            </div>  
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- main manu -->
        <div class="main-menu">
            <div class="container">
                <nav>
                    <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
                    <ul>
                        <li><a href=""> برنامه نویسی موبایل </a>
                            <ul>
                                <li><a href=""> زامارین  Xamarin </a></li>
                                <li><a href=""> react Native </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی وب </a>
                            <ul>
                                <li><a href=""> Asp.net WebForms </a></li>
                                <li><a href=""> Asp.net MVC </a></li>
                                <li><a href=""> PHP MVC </a></li>
                                <li><a href=""> PHP FrameWorks </a></li>
                                <li><a href=""> Asp.net Core </a></li>
                            </ul>
                        </li>
                        <li><a href=""> برنامه نویسی تحت ویندوز </a></li>
                        <li><a href=""> طراحی سایت </a>
                            <ul>
                                <li><a href=""> طراحی سایت </a></li>
                                <li><a href=""> Bootstrap </a></li>
                                <li><a href=""> Angular </a></li>
                                <li><a href=""> react </a></li>
                                <li><a href=""> Jquery </a></li>
                            </ul>
                        </li>
                        <li><a href=""> بانک های اطلاعاتی </a></li>
                        <li><a href=""> سئو </a></li>
                        <li><a href=""> سیستم عامل </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /main manu -->

        <div class="container">
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"> تاپ لرن </a></li>
                <li class="breadcrumb-item active"><a href="#"> دوره ها </a></li>
                <li class="breadcrumb-item active" aria-current="page"> دوره آموزشی ساخت ربات تلگرام </li>
              </ul>
            </nav>
        </div>

        <div class="container">
            <section class="term-content">
                <header><h1> دوره آموزشی ساخت ربات تلگرام </h1></header>
                <div class="row">

                    <div class="col-md-8 col-sm-12 col-xs-12 pull-left">
                        <section class="term-description">
                            <img src="images/pic/big-thumb.jpg">

                            <h2> ربات تلگرام برای چه کاری مفید است ؟ </h2>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </p>

                            <h2> سرفصل های این دوره : </h2>
                            <ul>
                                <li> <h3> معرفی این دوره </h3> <i> رایگان </i> <span>00:15:12</span></li>
                                <li> <h3> چرا شی گرایی یاد بگیریم ؟ </h3> <i> نقدی </i>  <span>01:15:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - طراحی دیتابیس </h3> <i> نقدی </i>  <span>02:05:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - ایجاد پنل مدیریت </h3> <i> نقدی </i>  <span>00:10:12</span></li>
                                <li> <h3> چرا شی گرایی یاد بگیریم ؟ </h3> <i> نقدی </i>  <span>01:15:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - طراحی دیتابیس </h3> <i> نقدی </i>  <span>02:05:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - ایجاد پنل مدیریت </h3> <i> نقدی </i>  <span>00:10:12</span></li>
                                <li> <h3> چرا شی گرایی یاد بگیریم ؟ </h3> <i> نقدی </i>  <span>01:15:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - طراحی دیتابیس </h3> <i> نقدی </i>  <span>02:05:12</span></li>
                                <li> <h3> پروژه ایجاد یک وب سایت - ایجاد پنل مدیریت </h3> <i> نقدی </i>  <span>00:10:12</span></li>
                            </ul>
                        </section>

                        <section class="user-comments">
                            <header><h3> نظرات کاربران </h3></header>
                            <div class="inner">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="نام و نام خانوادگی">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="ایمیل">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="شماره تماس">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="متن نظر"></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7 col-xs-7">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="کد امنیتی">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 col-xs-5">
                                                    <img src="images/captcha.jpg">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success"> ثبت دیدگاه </button>
                                        </div>
                                    </div>
                                </form>

                                <div class="comment-list">
                                    <!-- row -->
                                    <div class="comment-row">
                                        <img src="images/pic/avatar.jpg">
                                        <div class="left-col">
                                            <h3> میترا رحیمی </h3>
                                            <span>12/03/1397</span>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <!-- row -->
                                    <div class="comment-row">
                                        <img src="images/pic/avatar.jpg">
                                        <div class="left-col">
                                            <h3> میترا رحیمی </h3>
                                            <span>12/03/1397</span>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <!-- row -->
                                    <div class="comment-row">
                                        <img src="images/pic/avatar.jpg">
                                        <div class="left-col">
                                            <h3> میترا رحیمی </h3>
                                            <span>12/03/1397</span>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <!-- row -->
                                    <div class="comment-row">
                                        <img src="images/pic/avatar.jpg">
                                        <div class="left-col">
                                            <h3> میترا رحیمی </h3>
                                            <span>12/03/1397</span>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /row -->
                                    <!-- row -->
                                    <div class="comment-row">
                                        <img src="images/pic/avatar.jpg">
                                        <div class="left-col">
                                            <h3> میترا رحیمی </h3>
                                            <span>12/03/1397</span>
                                            <p>
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                                            </p>
                                        </div>
                                    </div>
                                    <!-- /row -->

                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                              <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-right"></i></span>
                                              </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                              <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="zmdi zmdi-chevron-left"></i></span>
                                              </a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                        </section>
                    </div>

                    <aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
                        <div class="statistics">
                            <ul>
                                <li>
                                    <span> مدت دوره </span>
                                    <i> 03:12:52 </i>
                                </li>
                                <li>
                                    <span> تعداد ویدیوها </span>
                                    <i> 16 </i>
                                </li>
                                <li>
                                    <span> تعداد دانشجوها </span>
                                    <i> 52 نفر </i>
                                </li>
                            </ul>

                            <a href=""> شرکت در دوره : 450.000 تومان </a>
                        </div>

                        <article class="teacher-info">
                            <img src="images/pic/avatar.jpg">
                            <h2> مدرس : ایمان مدائنی </h2>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است استفاده از طراحان گرافیک است ... 
                            </p>
                        </article>

                        <article class="term-info">
                            <h2> اطلاعات این دوره </h2>
                            <ul>
                                <li>سطح دوره: پیشرفته</li>
                                <li>وضعیت دوره: در حال برگزاری</li>
                                <li>قیمت : 450,000 تومان</li>
                                <li>تاریخ ثبت این دوره : چهار شنبه ۲۱ شهریور ۱۳۹۷</li>
                                <li>آخرین بروزرسانی دوره : چهار شنبه ۲۱ شهریور ۱۳۹۷</li>
                            </ul>
                        </article>

                        <div class="share-layer">
                            <span> به اشتراک گذاری </span>
                            <a href=""><i class="zmdi zmdi-facebook"></i></a>
                            <a href=""><i class="zmdi zmdi-google-old"></i></a>
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                            <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                        </div>

                        <div class="tags-layer">
                            <a href=""> ربات تلگرام </a>
                            <a href=""> ساخت ربات </a>
                            <a href=""> برنامه نویسی ربات </a>
                            <a href=""> کدنویسی ربات </a>
                            <a href=""> ربات تلگرام </a>
                            <a href=""> ساخت ربات </a>
                            <a href=""> برنامه نویسی ربات </a>
                            <a href=""> کدنویسی ربات </a>
                        </div>

                    </aside>
                </div>
            </section>
        </div>

        <!-- footer -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="list">
                                <header><h4> دسترسی سریع</h4></header>
                                <ul>
                                    <li><a href="">مشاهده تمامی دوره ها</a></li>
                                    <li><a href="">قوانین خرید از سایت </a></li>
                                    <li><a href="">راهنمای خرید از سایت </a></li>
                                    <li><a href="">همکاری با تاپ لرن </a></li>
                                    <li><a href="">کسب درآمد از تاپ لرن </a></li>
                                    <li><a href="">ماهنامه طراحی وب</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <p>
                        تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
                    </p>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <script src="js/bootstrap.min.js"></script>
	    <script src="js/script.js"></script>
	</body>
</html>
